aside img{
    max-width: 100px !important;
    max-height: 100px !important;
}

body {
  background: #535353 url(https://w-dog.ru/wallpapers/15/7/495495932941314.jpg);
    color: white;
        background-attachment: fixed; 
}

body img {
    max-width: 100%;
    max-height: 100%;
}

main, footer, nav{
    font-family: 'Amatic SC', cursive;
}   

.row {
    border-radius: 10px;
    background-color: #8c000a;
}
.contentblocks div, footer, footer a{ 
    background-color: #8c000a; 
    color: white;
    font-family: 'Cormorant SC', serif;
}

.contentblocks div{
    border-radius: 10px;
}

nav a h5{
    font-family: 'Amatic SC', bold;
    color: white;
}

main a h1{
    color: white;
}
